.modal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.modalContent{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 30px;

}
.modalVisible{
    display: flex;
    visibility: visible;
    
}